* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

body {
  font-family: 'Outfit', system-ui, sans-serif;
  min-height: 100vh;
  background-color: #f3e5d8;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  background: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
}


header .recipeName{
  padding: 0 2rem;
}
header img {
  width: 100%;
  display: block;
  object-fit: cover;
}

h2, h3 {
  font-family: 'Young Serif', serif;
  font-weight: 600;
}

header .recipeName h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

header .recipeName p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--Stone-600);
  font-weight: 700;
  margin: 1rem 0;
}

.preparation {
  background: var(--Rose-50);
    border-radius: 12px;
    padding: 2rem 3rem;
    margin: 1.5rem;
}

.preparation h4 {
  color: var(--Rose-800);
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.preparation ul li{
    margin: 0.5rem 2rem;
    color: var(--Stone-600);
    font-size: 0.9rem;
    line-height: 1.5rem;
    width: 75%;
}

.preparation ul li span {
    color: var(--Stone-600);
    font-size: 0.9rem;
    font-weight: 700;
  }

  .preparation li::marker {
    color: var(--Rose-800);
    font-weight: 700;
  }

   .ingredients, .instructions, .nutrition {
  padding: 0 2rem;
  width: 100%;
}

.ingredients ul, .instructions ol {
  margin-left: 2rem;
  color: var(--Stone-600);
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.ingredients li::marker, .instructions li::marker{
    color: var(--Brown-800);
    font-weight: 700;

  }

.ingredients h3, .instructions h3, .nutrition h3 {
  color: var(--Brown-800);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

 .instructions ol li {
    margin-top: 0.5rem;
    padding-left: 1rem;
    color: var(--Stone-900);
  }

  .instructions ol li span {
    font-weight: 700;
    color: var(--Stone-600);
  }

hr {
  width: 100%;
  border: 0.5px solid #e8e8e8;
  margin: 2rem 0;
}

.nutrition-values {
  display: flex;
  flex-direction: column;
}

.nutrition-row {
  display: flex;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--Stone-100);
}

.nutrition-row:last-child {
  border-bottom: none;
}

.nutrition-row span {
  flex: 1;
  color: var(--Stone-600);
  margin-left: 2rem;
}

.nutrition-row p {
  flex: 1;
  color: var(--Brown-800);
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 3rem 0; 
  }

  .wrapper {
    width: 736px; 
    border-radius: 24px;
    padding: 2.5rem;
    margin: auto;
  }

  header img {
    border-radius: 12px; 
  }

  header .recipeName{
  padding: 0;
  }

  .preparation {
    width: 100%; 
    margin: 1.5rem 0;
  }

  .ingredients, .instructions, .nutrition {
  padding: 0;
}
}